<div class="header_top">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="contactinfo">
					<ul class="nav nav-pills">
						<li><a href=""><i class="fa fa-phone"></i> {{contactInfo.number}} </a></li>
						<li><a href=""><i class="fa fa-envelope"></i> {{contactInfo.email}} </a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="social-icons pull-right">
					<ul class="nav navbar-nav">
						<li><a href=""><i class="fa fa-facebook" title="{{contactInfo.tooltip.facebookIcon}}"></i></a></li>
						<li><a href=""><i class="fa fa-twitter" title="{{contactInfo.tooltip.twitterIcon}}"></i></a></li>
						<li><a href=""><i class="fa fa-linkedin" title="{{contactInfo.tooltip.instagramIcon}}"></i></a></li>
						<li><a href=""><i class="fa fa-dribbble" title="{{contactInfo.tooltip.mapIcon}}"></i></a></li>
						<li><a href=""><i class="fa fa-google-plus" title="{{contactInfo.tooltip.googlePlusIcon}}"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>