<div class="col-sm-4 col-sm-offset-1">
  <div class="login-form"><!--login form-->
    <h2>{{signInInfo.title}}</h2>
    <form action="#">
      <input type="text" [placeholder]="signInInfo.nameLabel" />
      <input type="password" [placeholder]="signInInfo.passwordLabel" />
      <span>
        <input type="checkbox" class="checkbox"> 
        {{signInInfo.keepMeSignedInLabel}}
      </span>
      <button type="submit" class="btn btn-default">{{signInInfo.btnLabel}}</button>
    </form>
  </div><!--/login form-->
</div>