<div class="col-sm-3">
  <div class="left-sidebar">
    <div class="panel-group category-products" id="accordian">
      <div class="panel panel-default" *ngFor="let list of productList; let i = index">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="cursor" (click)="expandCollapse(i)">
                <span  *ngIf="list.submenu" class="badge pull-right"><i class="fa fa-plus"></i></span>
                {{list.name}} 
              </a>
            </h4>
          </div>
            <div id="sportswear" class="panel-collapse index-{{i}} collapse" *ngIf="list.submenu">
            <div class="panel-body">
              <ul *ngFor="let submenu of list.submenu">
                <li><a href="#"> {{submenu.name}} </a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>
   </div>
</div>